*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    background-color: #CFE2CE;
}
body header {
    /* border: 1px solid; */
    width: 100%;
    height: 12vh;
    background-color: #6B9D4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .name_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
}
header .name_logo img {
    width: 48px;
    margin: 0px 12px;
    border-radius: 24px;
    border: 2px solid;
    border-right: none;
    border-left: none;
    padding: 1px;
}
header .buttons {
    width: 24%;
}
header .buttons ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
header .buttons ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 9px;
    padding: 6px 9px;
} 

/* hover effect */
header .buttons ul li :hover {
    background-color: black;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .banner {
    margin-top: 4vh;
    width: 100%;
    /* height: 80vh; */
    /* background: darkgray; */
}
.container .banner img {
    width: 100%;
    height: 100%;
}

.container .items_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 48px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0px;
    padding: 0px 12px;
}
.container .items_container a {
    text-decoration: none;
}
.container .items_container .item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    background-color: #6B9D4A;
    border-radius: 9px;
    padding: 12px;
}
/* hover effect on item box */
.container .items_container .item:hover {
    border-radius: 9px;
    background: linear-gradient(45deg, #b7b7bd, #d9d9e1);
    box-shadow:  20px -20px 60px #adadb3,-20px 20px 60px #e9e9f2;
}
.container .items_container .item .img {
    width: 97%;
    height: 40%;
    padding: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}
.container .items_container .item .img img {
    width: 145px;
    height: 180px;
    border-radius: 24px;
}
.container .items_container .item .about {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0px 6px;
    color: black;
    text-decoration: none;
    font-size: small;
}
.container .items_container .item .about .prize {
    margin: 9px 0px;
}
.container .items_container .item .about .size {
    /* border: 1px solid; */
    width: 45%;
}
.container .items_container .item .about .size ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 3px; 
}
.container .items_container .item .about .size ul li {
    border: 1px solid;
    border-radius: 9px;
    padding: 3px 12px;
}


.banner_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    /* height: 90vh; */
    margin: 3px 0px;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner_2 .animated_text {
    /* border: 1px solid; */
    width: 60%;
    /* height: 100%; */
    text-align: center;
    font-size: xx-large;
}
.banner_2 .imgBox {
    width: 38%;
    height: 100%;
}
.banner_2 .imgBox img {
    width: 100%;
    height: 100%;
}


.suggested_items {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: fit-content;
    margin: 24px 0px;
    padding: 18px 0px;
}
.suggested_items ::-webkit-scrollbar {
    width:0;
}
.suggested_items .item_box {
    min-width: 179px;
    height: 195px;
    line-height: 110px;
    text-align: center;
    /* background-color: #ddd; */
    /* margin-right: 12px; */
    margin: 0px 12px;
    border: 1px solid;
    background: #6B9D4A;
    border-radius: 12px;
    box-shadow: 5px 6px #a9a9a99c;
}
.suggested_items .item_box img {
    width: auto;
    height: 100%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    /* border: 1px solid; */
    background-color: #6B9D4A;
    margin-top: 6px;
}
footer .contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
footer .contact a {
    color: black;
    text-decoration: none;
}
footer .shop {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .shop ul {
    list-style: none;
}
footer .shop ul li {
    margin: 6px 0px;
}
footer .shop ul li a {
    color: black;
    text-decoration: none;
}
footer .OurStore {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .OurStore ul {
    list-style: none;
}
footer .OurStore ul li {
    margin: 6px 0px;
}
footer .OurStore ul li a {
    color: black;
    text-decoration: none;
}
footer .terms_conditons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .terms_conditons ul {
    list-style: none;
}
footer .terms_conditons ul li {
    margin: 6px 0px;
}
footer .terms_conditons ul li a {
    color: black;
    text-decoration: none;
}

/* scroll bar edit  */
::-webkit-scrollbar{
    width: 11px;
    height: 9px;
}
/*track*/
::-webkit-scrollbar-track{
    border-radius: 9px;
}
/*handle*/
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(107 157 74));
    border-radius: 9px;
}
/*handle on hover*/
::-webkit-scrollbar-thumb:hover{
    background: rgb(70, 111, 43);
}

/* responsive  */
@media screen and (max-width:1080px) {
    .container .items_container {
        grid-template-columns: auto auto;
    }
    body header {
        padding: 0px 50px;
    }
}
@media screen and (max-width:500px) {
    body header {
        height: 17vh;
        flex-direction: column;
        padding: 0px 49px;
        display: flex;
        width: 105%;
    }
    header .name_logo {
        margin: 0px 0px;
    }
    header .buttons {
        width: 30%;
        margin: 9px 0px;
    }
    header .buttons ul li {
        margin: 0px 9px;
    }
    header .buttons ul li a {
        padding: 0px 3px;
    }
    .container {
        width: 105%;
    }
    .container .banner {
        height: 23vh;
    }
    .banner_2 {
        height: 24vh;
    }
    .banner_2 .animated_text {
        font-size: medium;
    }
    footer {
        padding: 6px;
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
    }
    footer .contact {
        align-items: center;
        margin: 6px 0px;
    }
    footer .shop {
        margin: 6px;
        align-items: center;
        text-align: center;
    }
    footer .OurStore {
        margin: 6px;
        align-items: center;
        text-align: center;
    }
    footer .terms_conditons {
        margin: 6px;
        align-items: center;
        text-align: center;
    }
}
