*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    background-color: #CFE2CE;
}
body header {
    /* border: 1px solid; */
    width: 100%;
    height: 12vh;
    background-color: #6B9D4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .name_logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
}
header .name_logo img {
    width: 48px;
    margin: 0px 12px;
    border-radius: 24px;
    border: 2px solid;
    border-right: none;
    border-left: none;
    padding: 1px;
}
header .buttons {
    width: 24%;
}
header .buttons ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
header .buttons ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 9px;
    padding: 6px 9px;
} 

/* hover effect */
header .buttons ul li :hover {
    background-color: black;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .item_name_details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 36px 0px;
 /* padding: 9px; */
}
.container .item_name_details .img {
    width: 35%;
    height: 50vh;
    border: 2px solid;
    border-radius: 12px;
    overflow: hidden;
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.container .item_name_details .img img {
    width: 100%;
    height: 100%;
}
.container .item_name_details .details {
    width: 50%;
    /* height: 66vh; */
    border: 1px solid;
    border-radius: 12px;
    padding: 6px;
    font-family: fangsong;
    font-size: larger;
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.container .item_name_details .details h2 {
    margin: 12px 0px;
}
.container .item_name_details .details .prize_about {
    /* overflow-y: scroll;  */
    height: 64%;
    border-top: 2px solid;
    padding: 0px 24px;
}
.container .item_name_details .details p {
    margin: 12px 0px;
}


.suggested_items {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: fit-content;
    margin: 24px 0px;
    padding: 18px 0px;
    margin-top: 0px;
}
.suggested_items ::-webkit-scrollbar {
    width:0;
}
.suggested_items .item_box {
    min-width: 179px;
    height: 195px;
    line-height: 110px;
    text-align: center;
    /* background-color: #ddd; */
    /* margin-right: 12px; */
    margin: 0px 12px;
    border: 1px solid;
    background: #6B9D4A;
    border-radius: 12px;
    box-shadow: 5px 6px #a9a9a99c;
}
.suggested_items .item_box img {
    width: auto;
    height: 100%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    /* border: 1px solid; */
    background-color: #6B9D4A;
    margin-top: 6px;
}
footer .contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
footer .contact a {
    color: black;
    text-decoration: none;
}
footer .shop {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .shop ul {
    list-style: none;
}
footer .shop ul li {
    margin: 6px 0px;
}
footer .shop ul li a {
    color: black;
    text-decoration: none;
}
footer .OurStore {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .OurStore ul {
    list-style: none;
}
footer .OurStore ul li {
    margin: 6px 0px;
}
footer .OurStore ul li a {
    color: black;
    text-decoration: none;
}
footer .terms_conditons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .terms_conditons ul {
    list-style: none;
}
footer .terms_conditons ul li {
    margin: 6px 0px;
}
footer .terms_conditons ul li a {
    color: black;
    text-decoration: none;
}

/* scroll bar edit  */
::-webkit-scrollbar{
    width: 8px;
    height: 6px;
}
/*track*/
::-webkit-scrollbar-track{
    border-radius: 9px;
}
/*handle*/
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(107 157 74));
    border-radius: 9px;
}
/*handle on hover*/
::-webkit-scrollbar-thumb:hover{
    background: rgb(70, 111, 43);
}

/* responsive */
@media screen and (max-width:1080px) {
    .container .item_name_details .details {
        height: 90vh;
    }
    body header {
        padding: 0px 50px;
    }
}
@media screen and (max-width:500px) {
    header .name_logo {
        margin: 36px 0px;
    }
    .container .item_name_details {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 36px 0px;
        padding: 9px;
    }
    .container .item_name_details .img {
        width: 80%;
        margin: 24px 0px;
        height: auto;
    }
    .container .item_name_details .details {
        height: auto;
        width: 90vw;
    }
    footer {
        padding: 6px;
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
    }
    footer .contact {
        align-items: center;
        margin: 6px 0px;
    }
    footer .shop {
        margin: 6px;
        align-items: center;
        text-align: center;
    }
    footer .OurStore {
        margin: 6px;
        align-items: center;
        text-align: center;
    }
    footer .terms_conditons {
        margin: 6px;
        align-items: center;
        text-align: center;
    }
}